
    .container-fluid {
        background-image: url("../images/west_background_2.jpg");
        background-size: 100%;
        background-repeat: no-repeat
    }

    .enemy {
        width: 100%;
        height: 450px;
   }
   button {
       height: 50px;
       width: 100px;
       text-align: center;
   }
   #show-timer {
       height: 60px;
       margin: auto;
       margin-top: 20px;
       margin-bottom: 20px;
   }
   h2, h1{
       font-size: 60px;
       color: white;
       display: block;
   }
   .question, .truct {
       color: white;
       height: 80%;
       font-size: 30px;
       font-weight: bold;
       text-align: center;
       margin: auto;
   }
   .results {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: auto;
   }

   .answers {
       font-size: 20px;
   }
   #cor {
       margin:20px;
       color: red;
   }
   #right {
       margin: 20px;
       font-weight: bold;
       color: green;
   }
   iframe {
       margin:20px;
   }
   .start {
       width: 150px;
       margin: auto;
   }
