
    .container-fluid {
        background-image: url("../images/west_background_2.jpg");
        background-size: 100%;
    }

    .character {
        height: 100px;
    }

    #enemy {
        height: 20px;
        font-size: 150px;
        font-weight: bold;
        color: white;
    }
    iframe {
        padding-top: 30px;
        margin: auto;
    }

    .vid {
        margin: auto;
    }

    button {
        margin: 20px;
    }

    .leftSide {
        margin: auto;
    }

    #buttons {
        height: 100px; 
        width: 150px; 
        background-color: green;
    }

    #reset {
        height: 100px; 
        width: 150px; 
        background-color: red;
    }